<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<!-- Navigation Bar -->
	<header th:replace="~{fragments/nav :: nav}"></header>
	
    <div class="mainContainer">
		    <h1>Welcome, Job Seeker!</h1>
			<p>jobSeekerId: <span th:text="${jobSeeker.jobSeekerId}"></span></p>
			<p>Username: <span th:text="${jobSeeker.fullName}"></span></p>
		    <p>Email: <span th:text="${jobSeeker.email}"></span></p>
		    <p>Skills: <span th:text="${jobSeeker.skills}"></span></p>
		    <p>number: <span th:text="${jobSeeker.number}"></span></p>
			<p>CreatedAt: <span th:text="${jobSeeker.createdAt}"></span></p>

			
		   <!--
		    <h3>Saved Jobs</h3>
		    <ul>
		        <li th:each="job : ${jobSeeker.savedJobs}">
		            <span th:text="${job.title}"></span> at <span th:text="${job.company}"></span>
		        </li>
		    </ul>
			-->
			
</body>
</html>
